@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(26.655% 0.05103 340.798);
  --card: oklch(98.483% 0.00121 107.824);
  --card-foreground: oklch(0.3257 0.1161 325.0372);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3257 0.1161 325.0372);
  --primary: oklch(0.5316 0.1409 355.1999);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: lab(91 -7.05 19.18);
  --secondary-foreground: oklch(31.528% 0.05302 163.472);
  --muted: oklch(94.572% 0.00589 264.659);
  --muted-foreground: oklch(0.51 0.1 335.55);
  --accent: oklch(93.653% 0.06206 116.465);
  --accent-foreground: lab(25 4.6 1.59);
  --destructive: lab(92 5.48 0.53);
  --destructive-foreground: oklch(0.5248 0.1368 20.8317);
  --positive: oklch(83.251% 0.06362 116.65);
  --positive-foreground: oklch(0.65 0.14 119.74);
  --border: #decce1;
  --input: #decce1;
  --ring: oklch(0.79 0.09 117.31);
  --chart-1: oklch(0.6038 0.2363 344.4657);
  --chart-2: oklch(0.4445 0.2251 300.6246);
  --chart-3: oklch(0.3790 0.0438 226.1538);
  --chart-4: oklch(0.8330 0.1185 88.3461);
  --chart-5: oklch(0.7843 0.1256 58.9964);
  --sidebar: oklch(0.9449 0.0186 347.4326);
  --sidebar-foreground: oklch(0.4948 0.1909 354.5435);
  --sidebar-primary: oklch(0.3963 0.0251 285.1962);
  --sidebar-primary-foreground: oklch(0.9668 0.0124 337.5228);
  --sidebar-accent: oklch(0.9789 0.0013 106.4235);
  --sidebar-accent-foreground: oklch(0.3963 0.0251 285.1962);
  --sidebar-border: oklch(0.9383 0.0026 48.7178);
  --sidebar-ring: oklch(0.5916 0.2180 0.5844);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
 --background: #1a1823;
  --foreground: #e0ddef;
  --card: #232030;
  --card-foreground: #e0ddef;
  --popover: #232030;
  --popover-foreground: #e0ddef;
  --primary: #b9c798;
  --primary-foreground: #1a1823;
  --secondary: #5a5370;
  --secondary-foreground: #e0ddef;
  --muted: #3a2d42;
  --muted-foreground: #a09aad;
  --accent: #372e3f;
  --accent-foreground: #edc5d4;
  --destructive: #392837;
  --destructive-foreground: #e57373;
  --positive: oklch(54.691% 0.10503 119.174);
  --positive-foreground: oklch(66.22% 0.11278 117.847);
  --border: #302c40;
  --input: #2a273a;
  --ring: #f2bbc9;
  --chart-1: oklch(0.5316 0.1409 355.1999);
  --chart-2: oklch(0.5633 0.1912 306.8561);
  --chart-3: oklch(0.7227 0.1502 60.5799);
  --chart-4: oklch(0.6193 0.2029 312.7422);
  --chart-5: oklch(0.6118 0.2093 6.1387);
  --sidebar: oklch(0.1893 0.0163 331.0475);
  --sidebar-foreground: oklch(0.8607 0.0293 343.6612);
  --sidebar-primary: oklch(0.4882 0.2172 264.3763);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2337 0.0261 338.1961);
  --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.5916 0.2180 0.5844);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}